#Data Types and Structures

1. What are data structures, and why are they important?
 - Data structures are ways of organizing and storing data in a computer so that it can be accessed and modified efficiently. Think of them like containers or tools designed for specific types of data-related tasks—kind of like how you'd use a toolbox with different compartments for screws, nails, and bolts.
         why data structures are important:-
         
 * Efficiency:

    They optimize how data is stored and accessed, leading to faster processing times and reduced memory usage.
 * Organization:

    They provide a structured way to arrange data, making it easier to understand and work with.
 * Problem-solving:

    They are essential tools for developing algorithms that can efficiently solve problems, such as finding the shortest path in a network or sorting a large dataset.
 * Foundation for software:

    Data structures are fundamental building blocks for many software applications and systems.
 * Code readability:

    They can make code easier to understand and maintain by organizing data in a clear and logical way.
 * Abstract data types:

    Data structures can be used to create abstract data types (ADTs), which are sets of operations that can be performed on a data structure

2. Explain the difference between mutable and immutable data types with examples.
 - Mutable data types can be modified after they're created, while immutable data types cannot. Mutable examples include lists and dictionaries, while immutable examples include strings and tuples.

    * Mutable Data Types
    Mutable data types can be changed after creation. You can modify, add, or delete elements without creating a new object.
           Examples in Python:-
       list

       dict (dictionary)

       set

In [ ]:
my_list = [1, 2, 3]
my_list.append(4)  # Modifies the original list
print(my_list)

[1, 2, 3, 4]

In [ ]:
  my_dict = {"name": "surbhi" , "age": 21}
my_dict["village"] = "aurangabad" # Modifies the original dictionary
print(my_dict)

{'name': 'surbhi', 'age': 21, 'village': 'aurangabad'}

In [ ]:
 my_set = {1, 2, 3}
 my_set.add(5) # modifies the original set
 print(my_set)

{1, 2, 3, 5}

   Immutable Data Types:-
    
   Objects whose values cannot be changed after they are created. Modifying an immutable object creates a new object with the changed value.

   int

   float

   bool

   string

   tuple

In [ ]:
  a = 5  #int
  type(a)

int

In [ ]:
  b = 9.5   #float
  type (b)

float

In [ ]:
   bool(1)  #bool

True

In [ ]:
  a = "surbhi"  #str
  type(a)

str

In [ ]:
  colour = ("red","blue","green")  #tuple
  type(colour)

tuple

 3. What are the main differences between lists and tuples in Python?
   - In Python, lists and tuples are both used to store ordered sequences of items, but they differ in their mutability. Lists are mutable, meaning their contents can be changed after creation, while tuples are immutable, meaning their contents cannot be modified once created.
    * Mutability:

    Lists are mutable, while tuples are immutable.
    * Syntax:

    Lists are defined using square brackets [], while tuples are defined using parentheses ().
     * Methods:

    Lists have numerous methods for modification (e.g., append(), remove(), insert()), while tuples do not because they are immutable.
     * Use Cases:

    Lists are often used for data that needs to be changed, while tuples are preferred for data that should remain constant or for use as keys in dictionaries (since dictionaries require immutable keys).
     * Memory Efficiency:

    Tuples are generally more memory-efficient than lists due to their immutability.
     * Performance:

    Tuples are generally faster to iterate over than lists because of their immutability.

 4. Describe how dictionaries store data.
     - Dictionaries are used to store data values in key:value pairs.

     keys are unique and immutable.

     Dictionaries are unordered. but from python 3.7 version dictionaries retain the order of insertion.

     this means that if you iterate over a dictionary the items will be returned in the order they were added.

 5. Why might you use a set instead of a list in Python?
   - In Python, whether you use a set or a list depends on what you're trying to achieve. You might use a set instead of a list in Python for a few key reasons, depending on what you're trying to do:

     * To Eliminate Duplicates Automatically:-
     
    Sets only store unique elements. If you add duplicates, they're ignored

In [ ]:
my_list = [1, 2, 2, 3]
my_set = set(my_list)
print(my_set)

{1, 2, 3}

 6.  What is a string in Python, and how is it different from a list?
   - A string is a sequence of characters between single or double quotes. A list is a sequence of items, where each item could be anything (an integer, a float, a string, etc) .

  In Python, a string and a list are both sequences, but they have some key differences:    

       *  A string is a sequence of characters, used to represent text.

    It's enclosed in quotes ( ' ' or " " ).

    You can access each character by index:

    Strings are immutable, meaning you can't change characters once it's created

     *  A list is a sequence of items, which can be of any type (including strings, numbers, or even other lists).   

    Lists are enclosed in square brackets.

    Items can be accessed and modified:

    Lists are mutable, so you can add, remove, or change items.


 7. How do tuples ensure data integrity in Python?
   - Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability. This immutability allows tuples to be used as keys in dictionaries and elements in sets, as they can be hashed.

 8.  What is a hash table, and how does it relate to dictionaries in Python?
   -  A hash table is a data structure that stores key-value pairs. It uses a hash function to compute an index (location) into an array of buckets where the value is stored.

   Dictionaries in Python are data structures that store data in key-value pairs, similar to a real-world dictionary where you look up a word (key) to find its definition (value). Each key in a dictionary must be unique and immutable (like strings, numbers, or tuples), while the values can be of any data type and can be duplicated. Dictionaries are unordered, meaning the items do not have a defined order.
 9.  Can lists contain different data types in Python?
    - Yes, lists in Python can contain different data types. Python lists are versatile and allow you to store elements of various types within the same list. This includes integers, strings, floats, booleans, and even other lists or data structures like dictionaries and tuples.

In [ ]:
 my_list = [2, 3, "hello india",  True, [1, 2, 3], {"name": "surbhi"}] # 2, 3 this is int. # "hello india" this is str. # 5.2, this is float. #  True, this is  bool. # [1, 2, 3] this is other list. # {"name": "surbhi"} this is dict.
 my_list5

[2, 3, 'hello india', 5.2, True, [1, 2, 3], {'name': 'surbhi'}]

 10. Explain why strings are immutable in Python?
    - In Python, strings are immutable, meaning once a string is created, it cannot be changed (its contents can't be modified in place).

In [ ]:
 #string
 s = "surbhi"
 type(s)

str

In [ ]:
for i in s:
  print(i)

s
u
r
b
h
i

In [ ]:
 s[0]

's'

In [ ]:
s[0]="d" #this string is immutable

NameError: name 's' is not defined

  11. What advantages do dictionaries offer over lists for certain tasks?
   - Dictionaries and lists are both powerful data structures in Python, but they shine in different situations. as they have an average complexity of O(1), while lists require O(n) in the worst case.
    
12. Describe a scenario where using a tuple would be preferable over a list.
 - Tuples are immutable. Hence, they are primarily used to store data that doesn't change frequently. Any operation can store data in a tuple when you don't want it to change. Tuples are great to use if you want the data in your collection to be read-only, never to change, and always remain the same and constant.

13. How do sets handle duplicate values in Python?
 - Sets in Python are designed to store only unique elements. When an attempt is made to add a duplicate value to a set, it is automatically ignored, and the set remains unchanged. This behavior makes sets a useful tool for tasks such as removing duplicates from a list or checking for the presence of unique items.

In [ ]:
 my_set = {1, 3, 2, 3, 1, 5, 2}
 print(my_set)

{1, 2, 3, 5}

In [ ]:
s1 = {"mohan","ajay","surbhi"}
s2 ={ "surbhi", "raju", "aman"}

In [ ]:
s1

{'ajay', 'mohan', 'surbhi'}

In [ ]:
s2

{'aman', 'raju', 'surbhi'}

In [ ]:
 s1 & s2

{'surbhi'}

 14.  How does the “in” keyword work differently for lists and dictionaries?
  - the "in" keyword — small but mighty! It behaves differently depending on the data structure you're working with — list vs dictionary.

   * "in" checks if the value exists anywhere in the list.
   * "in" only checks keys, not values.
   * It's a linear search → time complexity is O(n).
   * Very fast — average time complexity is O(1) due to hash table use.

 15. Can you modify the elements of a tuple? Explain why or why not.
  - No, you cannot directly modify the elements of a tuple in Python. Tuples are immutable, meaning their values cannot be changed after they are created. Attempting to modify a tuple will raise a TypeError.

    Why Tuples Are Immutable:-
 * Data Integrity

    Tuples are often used for fixed collections of values (e.g. coordinates, days of the week).

    Immutability prevents accidental changes.

 * Hashability

    Only immutable objects can be hashed (have a stable hash value), so tuples can be used as:

    Dictionary keys

    Set elements

 * Performance

    Tuples are faster and more memory-efficient than lists for fixed-size data.

 16. What is a nested dictionary, and give an example of its use case?
 -  A nested dictionary in Python is a dictionary where the values are themselves dictionaries. This allows for representing hierarchical or multi-layered data structures. A use case for nested dictionaries is organizing employee records, where you might store each employee's information (name, job title, etc.) as a nested dictionary, grouped by department.

In [ ]:
   student_record = {
     'E001' : { 'name': surbhi, "course": data analysis, 'marks': 90}

     'E002' : { 'name': sonali, "course" : data entry, 'marks': 80}

     'E003' : { 'name': shivani, "course": data scientist, 'marks': 70}
 }

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-17-55ff86cf57c7>, line 2)

In [ ]:
 students = {
    'Ankit': {'Math': 85, 'Science': 92},
    'Bebo': {'Math': 78, 'Science': 88},
    'somu': {'Math': 90, 'Science': 85}
}

In [ ]:
students

{'Ankit': {'Math': 85, 'Science': 92},
 'Bebo': {'Math': 78, 'Science': 88},
 'somu': {'Math': 90, 'Science': 85}}

 17. Describe the time complexity of accessing elements in a dictionary.
 - The time complexity of retrieving a value by its key in a dictionary is O(1). This is because dictionaries use a hash table internally which allows constant time lookup. Why O(1)? Hash tables use the hash of the key to find the memory location which enables direct access.

 18. In what situations are lists preferred over dictionaries?
 - Whether to use a list or a dictionary depends on the structure of your data and how you plan to access or manipulate it. Here are situations where lists are preferred:

For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

  preferred over dictionsries:-

  * Order Matters

  * Data Without Unique Keys

  * Indexed Access by Position

  * Iterating Over Items in Order

  * Stack/Queue Operations

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
 - A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added. In older versions of Python (before 3.7), dictionaries did not preserve insertion order at all.

 This means if you insert keys in a certain order, iterating over the dictionary will return them in that same order.

In [ ]:
 my_dict = {'a': 1, 'b': 2, 'c': 3}
for key in my_dict:
    print(key)

a
b
c

In [ ]:
 d = { 1:"abc",2:"xyz", "a":"pqr"}
 print(d)

{1: 'abc', 2: 'xyz', 'a': 'pqr'}

In [ ]:
 type (d)

dict

 20. Explain the difference between a list and a dictionary in terms of data retrieval.
 - In terms of data retrieval, lists access elements by numerical index, while dictionaries access elements by unique keys.  
 the difference between a list and a dictionary in terms of data retrieval:

    List vs Dictionary :-

Access Method

    Lists:- By index (e.g., my_list[0])
    Dictionary:- By key (e.g., my_dict["name"])

Retrieval Speed

    Lists:- O(1) - if you know the index
    Dictionary:- O(1) - if you know the key

Structure

    Lists:- Ordered sequence of items
    Dictionary:- Unordered key-value pairs (ordered since Python 3.7+)

Use Case

    Lists:- When items are accessed by position
    Dictionary:- When items are accessed by name/identifier

Key Lookup

    Lists:- Not supported
    Dictionary:- Fast key-based retrieval

Index Lookup

    Lists:- Supported
    Dictionary:- Not supported

    
   list example :-

In [ ]:
 my_list = ["apple", "banana", "mango"]
print(my_list[1])

banana

In [ ]:
 my_list = ["cheri", "pinapple", "chili"]
print(my_list[-3])

cheri

 Dictionary example :-

In [ ]:
 my_dict = {"fruit1": "apple", "fruit2": "banana", "fruit3": "cherry"}
print(my_dict["fruit2"])

banana

In [ ]:
 my_dict = {"name": "surbhi", "email": "sk@gmail.com", "contCT": "23654"}
print(my_dict["email"])

sk@gmail.com

# Practical Questions

1. Write a code to create a string with your name and print it.

In [ ]:
 # Create a string with your name
my_name = "surbhi"
print("My name is", my_name )

My name is surbhi

2. Write a code to find the length of the string "Hello World".

In [ ]:
 # string
my_string = "Hello World"
print(len(my_string))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
 # string for 3 characters
text = "Python Programming"
sliced_text = text[:3]
print(sliced_text)

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
 # convert the string
text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
 # replace the string
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
 # Create a list with numbers 1 to 5
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
my_list = [1, 2, 3, 4]
my_list.append(10)

In [ ]:
 print(my_list)

[1, 2, 3, 4, 10]

 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
 # remove the num 3
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)

In [ ]:
 print(my_list)

[1, 2, 4, 5]

 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
 # the list second element
my_list = ['a', 'b', 'c', 'd']
 second_element = my_list[1]

In [ ]:
 print(second_element)

b

 10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
 # reverse the list
my_list = [10, 20, 30, 40, 50]
my_list.reverse()

In [ ]:
print(my_list)

[50, 40, 30, 20, 10]

 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
 # Create a tuple
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
 # the tuple
my_tuple = ('red', 'green', 'blue', 'yellow')

In [ ]:
 second_to_last = my_tuple[-2]
print(second_to_last)

blue

 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
 # the tuple
my_tuple = (10, 20, 5, 15)

In [ ]:
 min_number = min(my_tuple)
print(min_number)

5

 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
 # the tuple
my_tuple = ('dog', 'cat', 'rabbit')
my_tuple.index('cat')

1

 15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
 # Create the tuple with fruits
fruits_tuple = ('apple', 'banana', 'cherry')
 'kiwi' in fruits_tuple

False

 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
  # Create a set
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'c', 'a'}

 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
 # Create the set
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
 my_set.clear()

In [ ]:
 print(my_set)

set()

 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
 my_set ={1, 2, 3, 4}
 my_set.remove(4)

In [ ]:
print(my_set)

{1, 2, 3}

 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
 # union sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(union_set)

{1, 2, 3, 4, 5}

 20.. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
 # intersection sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

In [ ]:
set1 & set2

{2, 3}

 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
  # Create the dictionary
person = {
    "name": "surbhi",
    "age": 21,
    "city": "patna bihar"
}

In [ ]:
 person

{'name': 'surbhi', 'age': 21, 'city': 'patna bihar'}

 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
 # Existing dictionary
person = {'name': 'John', 'age': 25}

In [ ]:
 # Add new key-value pair "country"
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

 23. . Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
 # Dictionary
person = {'name': 'Alice', 'age': 30}

In [ ]:
 # Access the value of the key "name"
name_value = person['name']
print(name_value)

Alice

 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
# Original dictionary
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [ ]:
 # Remove the key "age"
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
 # Dictionary
person = {'name': 'Alice', 'city': 'Paris'}

In [15]:
  #Check if "city" key exists
if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

 26. 6. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [17]:
my_list = [1, 2, 3, 4, 5]  # Create a list
my_tuple = ('apple', 'banana', 'cherry') # Create a tuple
my_dict = {'name': 'Alice', 'age': 30, 'city': 'Paris'} # Create a dictionary

In [18]:
 print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris'}

 27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [22]:
# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100)
       for _ in range(5)]

random_numbers.sort() # Sort the list in ascending order

In [28]:
 print("Sorted list:", random_numbers)

Sorted list: [25, 44, 71, 91, 91]

 28. Write a code to create a list with strings and print the element at the third index.

In [31]:
 # Create a list with strings
fruits = ["apple", "banana", "cherry", "orange", "grape"]

In [32]:

print("Element at index 3:", fruits[3])

Element at index 3: orange

 29. Write a code to combine two dictionaries into one and print the result.

In [33]:
 # Two dictionaries
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

In [34]:
 # Combine two dictionaries
combined_dict = {**dict1, **dict2}
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

 30. Write a code to convert a list of strings into a set.

In [35]:
 # List of strings
string_list = ["apple", "banana", "cherry", "apple", "banana"]

In [36]:
 # Convert list to set
string_set = set(string_list)
print("Set:", string_set)

Set: {'cherry', 'apple', 'banana'}